<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>

  <body>
    <header>
      <h1>A letter to Santa</h1>
    </header>

    <main>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div id="modalHtmlContent">
                </div>
                <button onclick="closeModal()">Close</button>
            </div>
        </div>
      <p class="bold">Ho ho ho, what you want for Christmas?</p>

      who are you?
      <input id="userid" name="userid" placeholder="charlie.brown" />
      <form id="myForm">
        what do you want for christmas?
        <textarea
          id="wish"
          name="wish"
          rows="10"
          cols="45"
          maxlength="100"
          placeholder="Gifts!"
        ></textarea>
        <br />
        <button type="submit" onClick="formDataHandler()" id="submit-letter">Send</button>
      </form>
      <script>
        function openModal(htmlContent) {
            var modal = document.getElementById('myModal');
            document.getElementById('modalHtmlContent').innerHTML = htmlContent;
            modal.style.display = "block";
        }

        function closeModal() {
            var modal = document.getElementById('myModal');
            modal.style.display = "none";
        }

        function formDataHandler() {
            event.preventDefault(); // Prevent form submission

            var userid = document.getElementById("userid").value;
            var wish = document.getElementById("wish").value;

            // Create an object with the data to send
            var formData = {
              id: userid,
              message: wish
            };

            fetch('https://foregoing-kiwi-giver.glitch.me/send', {
              method: 'POST',
              body: JSON.stringify(formData),
              headers: {
                'Content-Type': 'application/json'
              }
            }).then((response) => {
              if (response.ok) {
                return response.text();
              } else {
                throw new Error('Request failed');
              }
            })
            .then(html => {
                console.log(html);
                openModal(html)
            })
            .catch((error) => {
              console.log(error);
            });
        }
      </script>
    </main>

    <footer>
      Made with
      <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div
      class="glitchButton"
      style="position: fixed; top: 20px; right: 20px"
    ></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
